<div ng-init="profile.init()" layout="row" layout-align="center center" layout-margin>

        <!-- Main card -->
        <md-card class="top-card" md-whiteframe="15">
            <img ng-src="{{profile.userData.profilePic}}" style="width: 100% !important; height: 100% !important; border-radius: 18px;">
        </md-card>
        <!-- Left card end -->
    
        <!-- Right card -->
        <md-card class="right-adjoined-card" md-whiteframe="15" style:"font-family: Arial">
            <md-card-content>
                <section layout="column" layout-align="start center" flex="100" layout-margin style="padding-top:5%;">
                    <h2 style="padding-bottom: 0;">{{profile.userData.firstName}} {{profile.userData.lastName}}</h2>
                    <h4 style="padding-top: 0; font-weight: normal">{{profile.userData.iNumber}}</h4>
                </section>
                <div class="wrap-button" flex layout="row" layout-align="center center" flex>
                    <md-button class="md-fab" style="margin: 0;" ui-sref="main.editProfile">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                    </md-button>
                </div>
                <section layout="row" layout-align="center" layout-margin layout-padding flex>
                    <section layout="column" layout-align="center center"  class="md-padding">
                        <p style="padding-bottom: 0; padding-top: 100%; font-weight: normal; line-height: 0.1;">Alias</p>
                        <h3 style="padding-top: 0; line-height: 0.1;">{{profile.userData.alias}}</h3>
                    </section>
                    <section layout="column" layout-align="center center">
                        <p style="padding-bottom: 0; padding-top: 100%; font-weight: normal; line-height: 0.1;">Points</p>
                        <h3 style="padding-top: 0; line-height: 0.1;">{{profile.userData.points}}</h3>
                    </section>
                    <section layout="column" layout-align="center center">
                        <p style="padding-bottom: 0; padding-top: 100%; font-weight: normal; line-height: 0.1;">Coins</p>
                        <h3 style="padding-top: 0; line-height: 0.1;">{{profile.userData.coins}}</h3>
                    </section>
                </section>
                <!-- <md-checkbox md-no-ink aria-label="showAlias" ng-model="profile.showAlias" class="md-primary"> -->
                <!-- Show Alias to others<br>(in place of full name) -->
                </md-checkbox>
            </md-card-content>
        </md-card>
        <!-- Right card end -->
        
    </div>