<div ng-init="profile.init()" layout="column" layout-align="center center" layout-margin flex>

    <!-- Name card -->
    <md-card class="name-card" layout layout-align="center center">
        <h3>{{profile.userData.firstName}} {{profile.userData.lastName}}</h3>
    </md-card>
    <!-- Name card end -->

    <!-- Image card -->
    <md-card class="image-card" md-whiteframe="15" style="z-index: 100;">
        <img ng-src="{{profile.userData.profilePic}}" style="width: 100% !important; height: 100% !important; border-radius: 18px;">
    </md-card>
    <!-- Image card end -->

    <!-- Other info card -->
    <md-card class="other-info-card" layout layout-align="end center" md-whiteframe="15" style="z-index: 50;">
        <div layout="column" layout-align="start center" flex>
            <h3>{{profile.userData.iNumber}}</h3>
        </div>
        <span flex></span>
        <h3>{{profile.userData.alias}}</h3>
    </md-card>
    <!-- Other info card end -->

    <!-- Stats card -->
    <md-card class="stats-card card-shadow" layout="row" layout-align="end center" layout-padding style="z-index: 25;">
        <div layout="column" layout-align="start center" flex>
            <h3 style="line-height: 0.1; margin-bottom: 0">{{profile.userData.points}}</h3>
            <h5 style="line-height: 0.1;">points</h5>
        </div>
        <span flex></span>
        <section layout="column" layout-align="center center" flex>
            <h3 style="line-height: 0.1; margin-bottom: 0">{{profile.userData.coins}}</h3>
            <h5 style="line-height: 0.1;">coins</h5>
        </section>
    </md-card>
    <!-- Stats card end -->

</div>