<md-button class="md-icon-button" aria-label="Back" ui-sref="main.profile">
    <md-icon class="material_icons">chevron_left</md-icon>
</md-button>
<label>Back to Profile</label>
<form name="editProfileForm" ng-submit="editProfile.edit()" layout="row" layout-align="center center" novalidate>
    <md-card layout="column" layout-nowrap flex-xs flex-sm="75" flex-md="60" flex-gt-md="60">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline" style="text-align:center;">Update User Information</span>
                <md-divider></md-divider>
            </md-card-title-text>
        </md-card-title>

        <md-card-content layout="row" layout-xs="column" layout-align-xs="center center" layout-sm="column" layout-align-sm="center center" layout-align="space-around start">
            <!-- Image -->
            <div layout="column">
                <div class="md-media-xl card-media" style="border: 2px solid black; background-color: grey;">
                    <img ng-src="{{editProfile.profilePic}}" style="width:240px; height:240px;">
                </div>
                <md-card-actions layout="row" layout-padding layout-align="center start">
                    <!-- Hide the upload image input -->
                    <input type="file" accept="image/*" ng-model="editProfile.profilePic" id="profilePic" image-select="onFileSelect($files)" ng-hide="true">
                    <label for="profilePic" class="md-button md-raised md-primary">Browse</label>
                </md-card-actions>
            </div>
            <!-- Image end -->

            <!-- Other info -->
            <div layout="column" layout-align="center center">
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="editProfile.password">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" ng-model="editProfile.confirmPassword">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Alias</label>
                    <input name="alias" ng-model="editProfile.alias" maxlength="20" ng-pattern="editProfile.aliasPattern">
                    <div ng-messages="loginForm.iNumber.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">This must be a valid I-Number.</div>
                    </div>
                </md-input-container>
            </div>
            <!-- Other info end -->

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" layout-align-xs="center center" layout-align-sm="center center">
            <button type="submit" id="submit" value="Submit">Save</button>
        </md-card-actions>

    </md-card>
</form>